#body{
    margin: 0;
    padding: 0;
}
.centerdiv{
    width: 500px;
    height: 600px;
  
    margin: 100px auto;
  
}
.headi{
   /* text-align: center; */
   margin-top: 100px;
   text-shadow: black; 
   color: rgb(207, 8, 124);
   animation: moving 5s linear infinite;
   margin-left: 0%;
   margin-right: 0%;
}

@keyframes moving {
    from {transform: translateX(300px);}
    to {transform: translateX(800px);}
}

.top{
    width: 100%;
    height: 100px;
    background-color: #FF9933;
    animation: blinkingBackground 4s infinite;
	}
	@keyframes blinkingBackground{
		0%		{ background-color: #d3421e;}
		25%		{ background-color: #FF9933;}
		50%		{ background-color: #f76809;}
		75%		{ background-color: #FF9933;}
		100%	        { background-color: #eb520b;}
	}
  

/* .middle{
    width: 100%;
    height: 200px;
    background-color:  #FFFFFF;
   
}    */
.bottom{
    width: 100%;
    height: 100px;
    background-color:#138808;
   
    animation: blinkingBackgroundtop 4s infinite;
}
@keyframes blinkingBackgroundtop{
    0%		{ background-color: #24b617}
    25%		{ background-color: #19eb06}
    50%		{ background-color: #138808}
    75%		{ background-color: #138808}
    100%	        { background-color:#3ce72c}
}
.middle {
    width: 96px;
    height: 96px;
    margin: auto;
 
   border-radius: 50%;
  
   border: 2px solid #000080;
   position: relative;
   animation: round 3s infinite linear;

}
@keyframes round {
    from {transform:rotate(0deg);}
    to {transform: rotate(360deg);}
}
@keyframes move{
  
}
.middle > li{
    border: 2px solid #000080;
    list-style:none;
    position: absolute;
    width: 94px;
}
li:nth-child(1){
    top: 47px;
    transform: rotate(15deg);

}
li:nth-child(2){
    top: 47px;
    transform: rotate(30deg);

}
li:nth-child(3){
    top: 47px;
    transform: rotate(45deg);

}
li:nth-child(4){
    top: 47px;
    transform: rotate(60deg);

}
li:nth-child(5){
    top: 47px;
    transform: rotate(75deg);

}
li:nth-child(6){
    top: 47px;
    transform: rotate(90deg);

}
li:nth-child(7){
    top: 47px;
    transform: rotate(105deg);

}
li:nth-child(8){
    top: 47px;
    transform: rotate(120deg);

}
li:nth-child(9){
    top: 47px;
    transform: rotate(135deg);

}
li:nth-child(10){
    top: 47px;
    transform: rotate(150deg);

}
li:nth-child(11){
    top: 47px;
    transform: rotate(165deg);

}
li:nth-child(12){
    top: 47px;
    transform: rotate(180deg);

}
h3{
    font-size: small;
    font-weight: normal;
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    padding:2.5rem 1rem;
    color:var(--dark-blue);
}
